{% extends "registration/base.html" %}
{% block title %}
    profile
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% load crispy_forms_tags %}
<form method="POST" class="form-style" enctype="multipart/form-data">
    {% csrf_token %}
    {{ u_form|crispy}}
    {{ form|crispy}}
    <button type="submit">Update Profile</button>
</form>
{% endblock %}